<table class="highlight">
  <tbody>
    <tr>
      <td>Client</td>
      <td>
        Used to group URLs together by a common company. Use this field if you are
        creating this link on behalf of another organization.
        <br /><i>Example:</i> Helmkin Digital
      </td>
    </tr>
    <tr>
      <td>Websire URL*<br /><code>utm_source</code></td>
      <td>
        Required. This is the intended destination when you click on the link.
        <br /><i>Example:</i> <code>app.helmkin.com</code>
      </td>
    </tr>
    <tr>
      <td>Campaign Source<br /><code>utm_source</code></td>
      <td>
        Required. Use utm_source to identify a search engine, newsletter name,
        or other source.
        <br /><i>Example:</i> <code>google</code>
      </td>
    </tr>
    <tr>
      <td>Campaign Medium*</td>
      <td>
        Required. Use utm_medium to identify a medium such as email or
        cost-per- click.
        <br /><i>Example:</i> <code>cpc</code>
      </td>
    </tr>
    <tr>
      <td>Campaign Term</td>
      <td>
        Optional. Used for paid search. Use utm_term to note the keywords for this ad.
        <br /><i>Example:</i><code>running+shoes</code>
      </td>
    </tr>
    <tr>
      <td>Campaign Content</td>
      <td>
        Optional. Used for A/B testing and content-targeted ads. Use utm_content to
        differentiate ads or links that point to the same URL.
        <br /><i>Examples: </i><code>logolink</code> or <code>textlink</code>
      </td>
    </tr>
    <tr>
      <td>Campaign Name*</td>
      <td>
        Required. Used for keyword analysis. Use utm_campaign to identify a
        specific product promotion or strategic campaign.
        <br /><i>Example: </i><code>spring_sale</code>
      </td>
    </tr>
    <tr>
      <td>Notes</td>
      <td>
        This optional field allows you to add any additional information you need
        to help keep track of who made this link or why it was made.
        <br /><i>Example: </i>Gill; made to test orange banner
      </td>
    </tr>
  </tbody>
</table>
