    <div>
      <button data-target="share_links_modal" class="btn modal-trigger waves-effect waves-light light-blue darken-4">Share Your Links</button>
      <%= render 'share_links_modal' =%>
    </div>