<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2 class="white">Share Your Links</h2>
    </div>
    <div class="modal-body">
      <h3>Who do you want to share them with?</h3>
      <p>Note: they need to sign up before you can share links with them</p>
    </div>
    <div class="modal-footer">
      <h3 class="white">Modal Footer</h3>
    </div>
  </div>

</div>
