<div class="content">
  <div class="pure-g">

    <div class="l-box-lrg pure-u-2-5">
      <h2 class="header">Make Another Link</h1>
      <%= render 'links_index_form' =%>

    </div>

    <div class="sidebar l-box-lrg pure-u-3-5">

      <h2 class="header">Your Links</h1>
      <button id="share-links-button">Share Your Links</button>
      <%= render 'share_links_modal' =%>
      <br />
      <br />
      <%= render 'link_cards' =%>
    </div>

  </div>
</div>
