<div class="content">
  <div class="pure-g">

    <div class="l-box-lrg pure-u-1-5">
      <h3 class="header">Filter</h3>

    </div>

    <div class="sidebar l-box-lrg pure-u-4-5">

      <h2 class="header">Your Links</h1>
      <%= render 'share_links_modal' =%>
      <%= render 'new_links_modal' =%>
      <br />
      <br />
      <%= render 'links_table' =%>
    </div>

  </div>
</div>
