<div class="row">
    <div class="col s3 card-panel">

    </div>
  <div class="col s9">
    <h2>Your Links</h2>
    <button data-target="share_links_modal" class="btn modal-trigger waves-effect waves-light light-blue darken-4">Share Your Links</button>
    <h4>Create Another Link</h4>
    <div id="links-index-form">
      <%= render 'links_index_form' =%>
    </div>
    <div>
      <%= render 'share_links_modal' =%>
    </div>
    <div>
        <%= render 'links_table' =%>
    </div>
  </div>
</div>
