<div class="container">
  <div class="col s12">

    <div class="col s3">
      <h2>Make Another Link</h1>
      <%= render 'links_index_form' =%>

    </div>

    <div class="col s9">

      <h2>Your Links</h1>
      <button id="share-links-button">Share Your Links</button>
      <%= render 'share_links_modal' =%>
      <br />
      <br />
      <%= render 'links_table' =%>
    </div>

  </div>
</div>
