<div class="content">
  <div class="pure-g">

    <div class="l-box-lrg pure-u-1-5">
      <h1 class="header">Make Another Link</h1>
      <%= render 'links_index_form' =%>

    </div>

    <div class="sidebar l-box-lrg pure-u-4-5">

      <h1 class="header">Your Links</h1>

      <%= render 'links_table' =%>
    </div>

  </div>
</div>
