<div class="row">
  <div id="search-filter-panel" class="col s3 card-panel">
    <h4 style="margin-top: -0.15em">Search and Filter</h4>
    <div>
      <%= render 'search' %>
    </div>

    <div>
      <h5>Filter</h5>
      <%= render 'filter_dropdowns' =%>
    </div>
  </div>
  <div class="col s9">
    <div id="links-index-form">
      <h4>Make a New Link</h4>
      <%= render 'links_index_form' =%>
    </div>
    <div>
      <h4>Your Links</h4>
      <%= render 'links_table' =%>
    </div>
  </div>
</div>
