<div class="pure-g">
  <div class="l-box-lrg pure-u-1">

    <h1 class="header">Your Links</h1>
    <p>10 most recently made links</p>

    <%= render 'search' =%>
    <%= render 'links_table' =%>

  </div>
</div>
