<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Create Your Custom URL</h1>
    <button id="get-started-button">Get Started</button>
  </div>
</div>

<div id="create-link-overlay" class="hidden">
  <div class="create-link">
    <img id="close-button" src="<%= asset_path('Media_Viewer_Icon_-_Close.svg.png') %>">
    <h1 class="create-link-head">Here ya go!</h1>
      <div id="links">

      </div>
      <button id="copy-button" data-clipboard-target='to_copy' data-clipboard-text='Default clipboard text from attribute'><b>Copy To Clipboard</b></button>
      <br />
      <button id="make-another">Make Another Link</button>
  </div>
</div>

<div class="content-wrapper">
  <div id="link-form"class="content">
    <%= render 'form' %>
  </div>
</div>
