.flash{
 position: fixed;
 min-width: 300px;
 max-width:600px;
 top:15px;
 right:20px;
 height:40px;
 z-index: 4;
 border-radius: 2px;
 background: #fff;
 padding: 0.5em;
}

.notifications{
  text-align: center;
}

.sidebar{
  overflow-x: scroll;
}

@media (min-width: 48em) {
  .sidebar{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
}

#close-button{
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  position: fixed;
}
