table{
  max-width: 75%;
}

#links-table {

}

table td{
  overflow: scroll;
  max-width: 5em;
  white-space: nowrap;
  font-size: small;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

table td:hover {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
