table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

#links_table tbody tr td{
  word-wrap: normal;
  overflow: hidden;
}

table td{
  padding: 0em 0.5em;
}
