.dataTables_scrollHead{
  text-align: left;
}

table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}
table{
  border-color: grey;
}
#filterrow input[type=text]{
  border-radius: 5px;
  width: 150px;
}

table.dataTable.compact tbody td {
  overflow: scroll;
}
